@import './base.css';
@import './dark_mode.css';

#app {
  max-width: 1280px;
  min-height: 100vh; /* full viewport height */
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

/* https://www.schemecolor.com/pokemon-colors.php */
a, .blue-pokemon {
  text-decoration: none;
  color: hsla(233, 57%, 51%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(233, 57%, 51%, 0.2);
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
